.mypage-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mypage-header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mypage-login-wrapper {
    width: 90%;
    height: 82%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(247, 232, 234);
}