.ingredient-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.ingredient-page-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ingredient-list-wrapper {
    overflow-y: scroll;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 3;
}

.ingredient-item {
    display: flex;
    flex-direction: row;
    place-items: flex-end;
    justify-content: space-between;
}

.ingredient-description {
    width: 30%;
    height: 100%;
    border: 1px solid;
}